* {
  margin: 0;
}
.team-card {
  margin: 5px 5px 15px 5px;
}
.list-group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-transform: capitalize;
}
.list-group-item:hover .delete-btn {
  opacity: 1;
  color: crimson;
}
.delete-btn {
  opacity: 0;
  transition: all 0.2s linear;
  cursor: pointer;
}
